@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");

@import "tailwindcss";

:root {
  /* Cores da paleta fornecida */
  --palette-1: #59bad8; /* Azul/Ciano claro */
  --palette-2: #125063; /* Azul-esverdeado escuro */
  --palette-3: #072128; /* Azul-esverdeado muito escuro (quase preto) */
  --palette-4: #6bc8e3; /* Azul/Ciano mais claro */
  --palette-5: #ffffff; /* Branco puro */

  /* Definição de background e foreground para o tema claro */
  --background: var(--palette-5); /* Branco como background padrão */
  --foreground: var(--palette-3); /* Azul-esverdeado muito escuro como foreground padrão */
}

.size-control{
  @apply xl:min-w-[1200px] xl:w-[1200px] xl:p-0 px-5 w-full min-w-full;
}

@theme inline {
  /* Definição de cores da paleta */
  --color-palette-1: var(--palette-1);
  --color-palette-2: var(--palette-2);
  --color-palette-3: var(--palette-3);
  --color-palette-4: var(--palette-4);
  --color-palette-5: var(--palette-5);

  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}